<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>


  <div class="wrapper">

    <a class="footer-heading mytitle" href="{{ "/" | relative_url }}">
      <h2>{{ site.title | escape }}</h2>
    </a>

    <div class="footer-col-wrapper">

      <div class="footer-menu">
        {% for page in site.pages%}
          {% if page.title %}
            {% if page.layout != "sub_category" and page.layout != "post" and page.layout != "item" %}
              <a class="page-link" href="{{ page.url | relative_url}}">{{ page.title | escape }}</a>
              {% endif %}
          {% endif %}

        {% endfor %}
      </div>

      <div class="footer-social">
        {%- include social.html -%}
      </div>

    </div>

  </div>


</footer>
