<div class="d_container">

  {% for c in site.data.all_categories %}

    <div ="d_categories">

      <!-- <p><a href="{{ c.title | base_url }}">{{ c.title }}</a></p> -->
      {%- if c.permatitle -%}
        <p><a href="{{ base_url }}/discover/{{c.permatitle}}">{{ c.title }}</a></p>
        <a href="{{ c.permatitle | base_url }}"> <img src="../../assets/img/{{c.permatitle.img}}"></img></a>
      {% else %}
        <a href="{{ c.title | base_url }}"> <img src="../../assets/img/{{c.title.img}}"></img></a>
        <p><a href="{{ base_url }}/discover/{{c.title}}">{{ c.title }}</a></p>
      {%- endif -%}

      <!-- <p><a href="{{ base_url }}/discover/{{c.title}}">{{ c.title }}</a></p> -->



    </div>
  {% endfor %}
</div>
